.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: calc(100vw * 0.42);
  margin: 5.6vw auto;
}

.main__header {
  font-family: "Roboto Slab", SansSerif, sans-serif;
  font-size: 60px;
  line-height: 64px;
  margin: 0;
  font-weight: 400;
}

.main__text {
  margin: 2.2vw 0 6vw;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .main__header {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    width: calc(100vw - 32px);
    margin: 30px auto;
  }
}
