.saved-articles {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px calc(100vw * 0.07);
  width: 500px;
}

.saved-articles__text {
  opacity: 0.5;
  margin: 0;
}

.saved-articles__header {
  font-family: "Roboto Slab", SansSerif, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.15;
  margin: 0;
}

.saved-articles__keywords {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .saved-articles__header {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .saved-articles {
    padding: 8px 16px;
    width: calc(100% - 32px);
    gap: 16px;
  }

  .saved-articles__text {
    font-size: 14px;
  }

  .saved-articles__keywords {
    width: 100%;
    margin-top: 34px;
  }
}
