.saved-articles__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px 104px;
  max-width: 1440px;
  margin: 0 auto;
}

.saved-articles__text {
  opacity: 0.5;
  margin: 0;
}

.saved-articles__header {
  font-family: "Roboto Slab", SansSerif, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 2px;
}

.saved-articles__keywords {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .saved-articles__container {
    padding: 24px 40px;
    gap: 16px;
  }

  .saved-articles__text {
    font-size: 14px;
    line-height: 24px;
  }

  .saved-articles__header {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 430px) {
  .saved-articles__container {
    padding: 8px 16px;
    width: calc(100% - 32px);
  }

  .saved-articles__text {
    font-size: 12px;
  }

  .saved-articles__keywords {
    width: 100%;
    margin: 32px 0 16px;
  }
}
